<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CropGuard-AI</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <section class="sub-header1">
      <nav>
        <a href="index.html"><img src="/static/images/Frame 1.png" /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa-regular fa-circle-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="{{ url_for('views.home') }}">HOME</a></li>
            <li><a href="{{ url_for('views.about') }}">ABOUT US</a></li>
            <li><a href="{{ url_for('views.services') }}">SERVICES</a></li>
            <li><a href="{{ url_for('views.contact') }}">CONTACT US</a></li>
          </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1>Our Services</h1>
    </section>

    <!---------- Services ----------->
    <section class="Services">
      <h1>Services We Offer</h1>
      <p>We And Our Services Are Available For You Anytime.</p>

      <div class="row">
        <div class="service-col">
          <h3>Real-Time Disease Detection and Alerts</h3>
          <p>
            This service offers real-time monitoring and detection of crop
            diseases using AI-driven tools. Farmers can upload images or input
            specific data about their crops (e.g., weather conditions, soil
            health), and the system analyzes the information to detect early
            signs of disease.
          </p>
        </div>
        <div class="service-col">
          <h3>Drag and Drop Disease Identification Tool</h3>
          <p>
            This service allows farmers to easily upload images of crops showing
            signs of disease by simply dragging and dropping the images into the
            designated area on the website. The AI system then analyzes the
            images in real-time, identifying the type of disease and suggesting
            potential treatments or preventive measures.
          </p>
        </div>
        <div class="service-col">
          <h3>Weather App</h3>
          <p>
            The weather app would provide real-time, localized weather data and
            forecasts tailored to specific agricultural needs. By integrating
            weather information with the crop disease prediction system, the app
            can offer insights into how upcoming weather conditions might
            influence disease risks, irrigation needs, and overall crop health.
          </p>
        </div>
      </div>

      <div class="comment-box">
        <h3>Leave a comment</h3>

        <form method="post" action="https://script.google.com/macros/s/AKfycbxLw-_Nhr_cj5b_m7aw46a-im-dk23w0GAlgpN9u4TGo0bvroioomVVuJl06Re0yrWC2A/exec" class="comment-form">
          <input type="text" placeholder="Enter Name" name="name"/>
          <input type="text" placeholder="Enter Email" name="email" />
          <textarea rows="5" placeholder="Your comment" name="comment"></textarea>
          <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
        </form>
      </div>
    </section>

    <!--------- Footer --------->

    <section class="footer">
      <h4>About Us</h4>
      <p>
        CropGuard-AI is a revolutionary platform that combines advanced AI with
        agriculture. <br />
        We help farmers detect crop diseases in real-time by simply uploading an
        image, enabling quick and informed decisions to protect their yield.
        <br />
        Join us in driving the future of smart farming. <br />
      </p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
      <p>Made with <i class="fa-regular fa-heart"></i> CropGuard-AI Ltd</p>
    </section>

    <!---------- JavaScript----------->

    <script>
      // ------------Toggle Menu-------------

      var navLinks = document.getElementById("navLinks");

      function showMenu() {
        navLinks.style.right = "0px";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>

<script>
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbxLw-_Nhr_cj5b_m7aw46a-im-dk23w0GAlgpN9u4TGo0bvroioomVVuJl06Re0yrWC2A/exec";
  const form = document.forms["submit-to-google-sheet"];
  const message = document.getElementById("message");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    fetch(scriptURL, { method: "POST", body: new FormData(form) })
      .then((response) => {
        message.innerHTML = "Message sent successfully!";
        setTimeout(function () {
          message.innerHTML = "";
        }, 5000);
        form.reset();
      })
      .catch((error) => console.error("Error!", error.message));
  });
</script>

  </body>
</html>
